* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.header,
.footer {
  background: #374151;
}

.main {
  min-height: 86vh;
}

.left {
  border-right: 1px solid black;
  box-shadow: 2px 0px 0px 2px green;
}

.left ul {
  list-style: none;
  font-size: 20px;
  font-weight: bold;

  @media (max-width: 450px) {
    min-height: 60vh;
  }
}

.title {
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.mobile-form {
  width: 100% !important;
}

.login-container {
  background-image: url(./components/assets/images/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /* Adjust this to control the minimum height */
  display: flex;
  justify-content: center;
  align-items: center;
}
